<h1>Edit Employee</h1>

<div class="container">
    <form [formGroup]="employeeForm">
    <div class="row">
      <div class="col-md-6">Name</div>
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="name" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">City</div>
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="city" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">Email Id</div>
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="emailId" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">Mobile</div>
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="mobile" />
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="save()">Update</button>
    <button type="button" class="btn btn-success" (click)="back()">Back</button>
  </form>
  </div>
